 body{
    margin: 0;
    background-color: aliceblue;
    padding: 0;
}
.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5px;
    /* border-bottom: 1px solid #434655;   */
    min-height: 75px;
    margin: 0 50px;
    background-color: aliceblue;
}
.nav .logo{
    display: flex;
     align-items: center;
    gap: 10px;
    color: rgba(42,74,198,100%);
    font-weight: bold;
    font-size: 24px;
} 
.nav .logo h2{
   color: rgba(42,74,198,100%);
    font-weight: bold;
    font-size: 24px;
}
.nav .navItems{
    display: flex;
    gap: 20px;
    font-weight: bold;
    
}
 .tab-item{
    font-family: sans-serif;
  font-size: 18px;
  color: #434655; 
   cursor: pointer;
  padding-bottom: 8px; 
   position: relative; 
   transition: color 0.3s ease; 
}
.navTabs{
  display: flex;
  list-style: none;
  gap: 20px;    
}
.login{
    color: #434655;
    border: none;
    padding: 8px 16px;
    border-radius: 15px;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
}
.signup{
    color: white;
    background-color: rgba(42,74,198,100%);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 20px;
    height: 38px;
    width: 160px;
}